/* Generic */

.html {
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.navbar a {
    color: #f9faf8;
    text-decoration: none;
    padding: 8px 12px;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.98);
}

.btn.primary {
    background-color: #3882f6;
}

/* Sections */

.section-1 {
    background-color: #1f2937;
    display: flex;
}

.section-1 * {
    color: #f9faf8;
}

.section-2 {
    background-color: #f9faf8;
}

.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    min-height: 25vh;
}

/* Hero */

header {
    background-color: #1f2937;
}

.hero-img {
    background-image: url("https://robohash.org/hero.png?size=200x200");
    min-width: 200px;
    min-height: 200px;
}

/* Primary Info */

.primary-info {
    text-align: center;
}

.primary-info-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Testimonial */

.testimonial .quote-text {
    color: #1f2937;
    font-size: 1.5rem;
}

/* Components */

.quote-wrapper {
    margin: 0;
    padding: 16px;
}

.quote-wrapper * {
    margin: 0;
}

.quote-text {
    text-align: center;
    quotes: "“" "”";
    text-indent: -10px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: lighter;
    font-style: italic;
}

.quote-text:before {
    content: "“";
    margin-right: -5px;
}

.quote-text:after {
    content: "”";
    margin-left: -5px;
}

.quote-author {
    text-align: right;
    padding-right: 8px;
}